# Step 1: Combine fiscal indicators

In [11]:
import pandas as pd
import os
import re

In [12]:

class FiscalIndicators(object):
    
    def __init__(self, fname):
        self.fname = fname
        self.df = pd.read_csv(self.fname)
        match = re.match("FISCIN([0-9]*).csv",os.path.basename(self.fname))
        if match:
            self.df["Fisc_Year_End"] = int(2000 + int(str(match.group(1)).zfill(2)))
        else:
            pass
        
        
fi = FiscalIndicators("data/FISCAL_INDICATORS/FISCIN12.csv")
fi.df.head()

,Municipality,numbered,Comptroller Town Code,County_Identifier,Invested In Capital Assets Net of Related Debt,Unrestricted Net Assets,Total Net Assets,Change In Net Assets,Nonspendable_Fund_Bal,Restricted_Fund_Bal,...,Overal_Total_Tax_Collection_Rate,2012 Population,Moody's_Bond_Ratings_July2012,ACGLFY12,EGL,TANF12 Recipients,empl,ACMR,enrollmt,Fisc_Year_End
0,HARWINTON,67.0,66.0,L,16750121.0,3827597.0,20874093.0,-591809.0,0.0,0.0,...,0.978598,5600.0,NaN,5.539185e+08,7.481629e+08,8.0,0.065630,23.90,914.82,2012
1,HEBRON,68.0,67.0,T,49016212.0,5215082.0,54540996.0,1255942.0,0.0,0.0,...,0.967581,9624.0,Aa2,8.682188e+08,1.115239e+09,8.0,0.058585,30.26,2080.81,2012
2,KENT,69.0,68.0,L,9539728.0,4337856.0,13934963.0,249895.0,0.0,0.0,...,0.966632,2951.0,Aa2,6.600050e+08,8.102808e+08,6.0,0.063482,14.27,339.37,2012
3,KILLINGLY,70.0,69.0,W,97765533.0,17963381.0,116355514.0,-486136.0,0.0,0.0,...,0.962143,17269.0,Aa2,1.311451e+09,1.626788e+09,191.0,0.104180,19.20,2549.12,2012
4,KILLINGWORTH,71.0,70.0,M,24630446.0,5352114.0,29982560.0,-528247.0,0.0,0.0,...,0.990374,6504.0,Aa2,8.182932e+08,1.010341e+09,6.0,0.058010,22.77,1067.30,2012

In [13]:
#fi.df.sort_values(by="numbered")

In [14]:
def all_fiscal_indicators():
    frames = []
    cols = ["Municipality",
            "Education",
            "Inter_Gov_Rev",
            "enrollmt",
            "Fisc_Year_End"]
    for fname in os.listdir("data/FISCAL_INDICATORS/"):
        if not fname.lower().endswith("csv"): continue
        fpath = os.path.join("data/FISCAL_INDICATORS/",fname)
        fi = FiscalIndicators(fpath)            
        fi.df["SOURCE"] = fname
        
        if "fiscin" not in fname.lower():
            # Drop 2012
            fi.df = fi.df[fi.df["Fisc_Year_End"] != 2012]

        frames.append(fi.df[cols])
    return pd.concat(frames)
all_fiscal_indicators()["Fisc_Year_End"].value_counts()

2016    170
2015    170
2014    170
2013    170
2012    170
2011    170
2010    170
2009    170
2008    170
2007    170
Name: Fisc_Year_End, dtype: int64

In [15]:
fiscal_df = all_fiscal_indicators()
fiscal_df.columns = ["City","Education spending","Inter_Gov_Rev","Enrollment","report_year"]
fiscal_df = fiscal_df.set_index(["City","report_year"])
fiscal_df

                              Education spending  Inter_Gov_Rev  Enrollment
City             report_year
ANDOVER          2013                  8562868.0      2930349.0      588.63
ANSONIA          2013                 34124712.0     29957368.0     2628.64
ASHFORD          2013                 11250309.0      4953913.0      642.80
AVON             2013                 53396764.0      8450231.0     3472.15
BARKHAMSTED      2013                  8852107.0      2215545.0      648.78
BEACON FALLS     2013                 13516055.0      4478464.0      954.22
BERLIN           2013                 46108451.0     12927657.0     3050.82
BETHANY          2013                 15599595.0      3437582.0      943.59
BETHEL           2013                 44246629.0     13396122.0     2962.07
BETHLEHEM        2013                  6784789.0      1734028.0      428.22
BLOOMFIELD       2013                 40980883.0     14348379.0     2260.50
BOLTON           2013                 14080200.0      4855814.0      815.35
BOZRAH           2013                  5670995.0      2082116.0      342.71
BRANFORD         2013                 56100841.0      9900481.0     3353.78
BRIDGEPORT       2013                261470234.0    234019361.0    20484.53
BRIDGEWATER      2013                  4891483.0       307777.0      197.42
BRISTOL          2013                 98435000.0     64542000.0     8503.36
BROOKFIELD       2013                 41347563.0      6510324.0     2836.39
BROOKLYN         2013                 17370720.0      9758964.0     1260.76
BURLINGTON       2013                 22848392.0      4948503.0     1770.20
CANAAN           2013                  3244772.0       687482.0      117.40
CANTERBURY       2013                 12149799.0      6686359.0      703.89
CANTON           2013                 25709116.0      6277721.0     1775.95
CHAPLIN          2013                  5931939.0      2611637.0      298.57
CHESHIRE         2013                 68815590.0     23677909.0     4654.92
CHESTER          2013                  9148482.0      1455992.0      512.62
CLINTON          2013                 33124324.0     11389907.0     2034.37
COLCHESTER       2013                 41828767.0     19347462.0     2949.70
COLEBROOK        2013                  3719089.0       907870.0      220.85
COLUMBIA         2013                 12036200.0      4064965.0      722.44
...                                          ...            ...         ...
MILFORD          2011                109306000.0     22384000.0     7024.29
MONROE           2011                 55364249.0     11739302.0     3799.82
MONTVILLE        2011                 39300580.0     20724108.0     2756.17
MORRIS           2011                  5762292.0       732109.0      352.17
NAUGATUCK        2011                 55962948.0     31580238.0     4854.68
NEW BRITAIN      2011                118812000.0     92313000.0    10871.04
NEW CANAAN       2011                 77196076.0      7694430.0     4175.21
NEW FAIRFIELD    2011                 32264595.0      8392917.0     2869.00
NEW HARTFORD     2011                 16105201.0      5898852.0     1129.60
NEW HAVEN        2011                193103792.0    227634807.0    17720.41
NEW LONDON       2011                 39588608.0     35205329.0     3555.19
NEW MILFORD      2011                 63361649.0     21043666.0     4649.16
NEWINGTON        2011                 64499000.0     22272000.0     4500.94
NEWTOWN          2011                 72045166.0     12282389.0     5567.79
NORFOLK          2011                  4414170.0       911307.0      246.98
NORTH BRANFORD   2011                 30843547.0     10622684.0     2360.13
NORTH CANAAN     2011                  8183328.0      2729132.0      444.05
NORTH HAVEN      2011                 47701735.0      8729212.0     3635.30
NORTH STONINGTON 2011                 11853078.0      5723802.0      813.32
NORWALK          2011                164604885.0     30083768.0    11158.74
NORWICH          2011                 67160000.0     38103000.0     5396.19
WETHERSFIELD     2011                 54344069.0     14296441.0     3930.27
WILLINGTON       2011                 12108577.0      4652039.0      799.23
WILTON           2011                 74243675.0      8951916.0     4331.64
WINCHESTER       2011                 20951073.0     10019954.0     1372.10
WINDHAM          2011                 41599963.0     30986301.0     3339.75
WINDSOR          2011                 64675805.0     19819257.0     4153.88
WINDSOR LOCKS    2011                 29185597.0     14469734.0     1889.86
WOLCOTT          2011                 32768203.0     17156857.0     2979.94
WOODBRIDGE       2011                 25758313.0      1953014.0     1511.22

[1700 rows x 3 columns]

In [16]:
fiscal_df.reset_index()["report_year"].value_counts()

2016    170
2015    170
2014    170
2013    170
2012    170
2011    170
2010    170
2009    170
2008    170
2007    170
Name: report_year, dtype: int64

In [17]:
fiscal_df.head()

                         Education spending  Inter_Gov_Rev  Enrollment
City        report_year
ANDOVER     2013                  8562868.0      2930349.0      588.63
ANSONIA     2013                 34124712.0     29957368.0     2628.64
ASHFORD     2013                 11250309.0      4953913.0      642.80
AVON        2013                 53396764.0      8450231.0     3472.15
BARKHAMSTED 2013                  8852107.0      2215545.0      648.78

In [18]:
fiscal_df.loc["BRIDGEPORT"]

             Education spending  Inter_Gov_Rev  Enrollment
report_year
2013                261470234.0    234019361.0    20484.53
2012                259297544.0    231508096.0    20870.82
2015                264104051.0    232665443.0    21095.81
2014                267927607.0    240139304.0    21008.02
2016                273774169.0    234246831.0    20945.51
2007                211764417.0    203566550.0    22224.65
2008                218222813.0    209554648.0    21801.84
2009                222867074.0    214369477.0    21288.93
2010                205130582.0    185155817.0    21022.70
2011                229559379.0    207535677.0    20949.07

In [19]:
fiscal_df.to_csv("output/1_fiscal.csv")

In [21]:
fiscal_df.groupby("report_year").agg({"Inter_Gov_Rev":sum}).to_csv("output/STATEWIDE_INTERGOV.csv")